<app-side-menu>
  <mat-card class="createProvider">
    <mat-grid-list cols="2" rowHeight="500px">

      <mat-card-title>
        <div style="text-align:center; color:#ff4081">CREATE PROVIDER</div>
      </mat-card-title>
      <br>
      <mat-card-content>
        <div class="example-container">
          <mat-form-field >
            <mat-label>Username</mat-label>
            <input matInput placeholder="Enter Username" [formControl]="username" autofocus>
          </mat-form-field>

          <mat-form-field >
            <mat-label>Firstname</mat-label>
            <input matInput placeholder="Enter Firstname" [formControl]="firstname" autofocus>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Lastname</mat-label>
            <input matInput placeholder="Enter Lastname" [formControl]="lastname" autofocus>
          </mat-form-field>

          <mat-form-field >
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter Email" [formControl]="email">
          </mat-form-field>

          <mat-form-field >
              <mat-label>Contact</mat-label>
              <input type="number" matInput placeholder="Enter Contact" [formControl]="phonenumber">
            </mat-form-field>

          <mat-form-field >
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password" type="password" [formControl]="password">
          </mat-form-field>
        </div>
        <div style="text-align:center">
          <button mat-raised-button color="primary" style="width:200px" (click)="submit()">SUBMIT</button>
        </div>
      </mat-card-content>
    </mat-grid-list>

  </mat-card>
</app-side-menu>
